{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 4 years",
            "safari >= 7",
            "iOS >= 7"
          ]
        },
        "modules": false
      }
    ],
    [
      "minify",
      {
        "deadcode": false,
        "mangle": false
      }
    ]
  ]
}