# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/public/maps_lossless/
